.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
*.o
*.so
*.dll
/Meta/
/doc/
/docs/
/pkgdown/
/inst/doc/
/vignettes/*.html
/vignettes/*.R
.httr-oauth
.Renviron
.Rprofile
.Rapp.history
.directory
.vscode/
.idea/
.env
/renv/
/revdep/
/check/
*.tar.gz

# Test artifacts
tests/testthat/*.csv
tests/testthat/*.rds
tests/testthat/*.txt
tests/testthat/*.dvc
tests/testthat/Rplots.pdf
tests/testthat/*.png
tests/testthat/*.html
tests/testthat/.dvc/
docs
