.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
*.o
*.so
*.dll
/Meta/
/pkgdown/
.httr-oauth
.Renviron
.Rprofile
.Rapp.history
.directory
.vscode/
.idea/
.env
/renv/
/revdep/
/check/
*.tar.gz

# Vignette files - commented out to allow vignette outputs to be included
# vignettes/*.html
# vignettes/*.R
!vignettes/*.Rmd
# inst/doc/
# doc/

# Test artifacts
tests/testthat/*.csv
tests/testthat/*.rds
tests/testthat/*.txt
tests/testthat/*.dvc
tests/testthat/Rplots.pdf
tests/testthat/*.png
tests/testthat/*.html
tests/testthat/.dvc/
# /doc/
/doc/

# R package check directory
*.Rcheck

# Paper directory
/paper/
